table, th, td {
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
  }
.topnav{
 
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #575757;
    color: black;
}
.topnav-right {
    float: right;
}
.topnav-left {
    float: left;
}
footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(140, 140, 140);
    color: white;
    text-align: center;
}
.container {
    position: relative;
    text-align: center;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: black;
	margin-top: 85px;
	margin-left: 15px;
}
hr{
	border: white;
	height: 60px;
}
/*drop*/
.dropbtn {
	background-color: #be0202;
	color: white;
	padding: 12px;
	font-size: 16px;
	border: none;
  }
.dropdown {
	position: relative;
	display: inline-block;
  }
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #900000;}
/*hirlevel*/
.form {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	font-family: inherit;
	gap: 10px;
	padding-inline: 2em;
	padding-bottom: 0.4em;
	background-color: #171717;
	background-color: #2f0a0a;
	border-radius: 20px;
  }
  
  .form-heading {
	text-align: center;
	margin: 2em;
	color: #ff6464;
	font-size: 1.4em;
	background-color: transparent;
	align-self: center;
  }
  
  .form-field {
	display: flex;
	gap: 0.5em;
	border-radius: 10px;
	padding: 0.6em;
	border: none;
	outline: none;
	color: white;
	background-color: #171717;
	box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-field {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	color: #ccd6f6;
	padding-inline: 1em;
  }
  
  .sendMessage-btn {
	cursor: pointer;
	margin-right: auto;
	float: left;
	margin-bottom: 3em;
	padding: 1em;
	border-radius: 10px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #ff6464;
	font-weight: bold;
	outline: 1px solid #ff6464;
	transition: all ease-in-out 0.3s;
  }
  
  .sendMessage-btn:hover {
	transition: all ease-in-out 0.3s;
	background-color: #ff6464;
	color: #000;
	cursor: pointer;
	box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .form-card1 {
	margin: auto;
	background-image: linear-gradient(163deg, #ff6464 0%, #ff6464 100%);
	border-radius: 22px;
	transition: all 0.3s;
  }
  
  .form-card1:hover {
	box-shadow: 0px 0px 30px 1px rgba(255, 100, 100, 0.3);
  }
  
  .form-card2 {
	border-radius: 0;
	transition: all 0.2s;
  }
  
  .form-card2:hover {
	transform: scale(0.98);
	border-radius: 20px;
  }
  .checkmark {
	border-radius: 9px;
	position: relative;
	top: 0;
	left: 0;
	height: 1.3em;
	width: 1.3em;
	background-color: linear-gradient(45deg, #f8e7fa, #fbf6e7, #e6fcf5);
   }


   .tooltip-container {
	text-align: center;
	color: white;
	--background: #d31e1e;
	position: relative;
	background: var(--background);
	cursor: pointer;
	transition: background 0.3s;
	font-size: 17px;
	padding: 0.7em 1.8em;
  }
  
  .tooltip {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-10%); /* Adjusted the initial position */
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	background: var(--background);
	color: #fff;
	border-radius: 0.3em;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 14px;
	width: 120%; /* Adjusted the width */
	padding: 0.5em 1em; /* Adjusted padding */
	white-space: nowrap; /* Prevent text wrapping */
  }
  
  .tooltip-container:hover .tooltip {
	top: -100%; /* Adjusted the tooltip position */
	opacity: 1;
	pointer-events: auto;
	transform: translateX(-50%) translateY(0);
  }
  