.topnav{
 
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #575757;
    color: black;
}
.topnav-right {
    float: right;
}
footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(140, 140, 140);
    color: white;
    text-align: center;
}
.kep{
    margin: 20px;
}
.container {
    position: relative;
    text-align: center;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: black;
}
